.implementation__title {
  margin: 0 auto;
  background-color: var(--color-background-3);
  min-width: 1140px;
  padding-top: 10px;
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 400;
  color: var(--color-text-1);
  -webkit-transition: max-width 0.3s ease-in-out;
  -o-transition: max-width 0.3s ease-in-out;
  transition: max-width 0.3s ease-in-out;
  text-align: center;
}

@media (max-width: 1199px) {
  .implementation__title {
    min-width: 100%;
  }
}
