.section-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: max-width 0.3s ease-in-out;
  -o-transition: max-width 0.3s ease-in-out;
  transition: max-width 0.3s ease-in-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

@media (min-width: 1200px) {
  .section-content {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-content {
    max-width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-content {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .section-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .section-content {
    max-width: 340px;
  }
}
