:root {
  --color-background-1: #4169e1;
  --color-background-2: #303030;
  --color-background-3: #17cad0;
  --color-text-1: #303030;
  --color-text-2: #ffffff;
  --color-text-3: #416ce1;
  --color-text-4: #808080;
  --main-font: "Open Sans", "Tahoma", sans-serif;
}
