.implementation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -o-linear-gradient(
    left,
    var(--color-background-3) 50%,
    var(--color-background-1) 50%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, var(--color-background-3)),
    color-stop(50%, var(--color-background-1))
  );
  background: linear-gradient(
    90deg,
    var(--color-background-3) 50%,
    var(--color-background-1) 50%
  );
  padding: 70px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(141, 141, 141, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(141, 141, 141, 0.5);
}
